.Contact {
    max-width: var(--desktop-size);
    margin: 2rem auto;
}

.Contact__title {
    color: var(--color-secondary);
    font-size: 3rem;
    font-family: var(--font-decorative);
    margin-bottom: 3rem;
}

.Contact__content {
    color: var(--color-text);
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-text);
    margin-bottom: 1rem;
}
