.HeroImage {
    display: flex;
    position: relative;
    width: 100vw;
    height: 32rem;
    background-image: url(https://picsum.photos/id/96/1200/600.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3rem 0;
    box-sizing: border-box;
}

.HeroImage__title {
    display: block;
    max-width: var(--desktop-size);
    margin: 0 auto;
    min-width: 70%;
    text-align: right;
    font-size: 3rem;
    font-family: var(--font-decorative);
    text-transform: uppercase;
}

.HeroImage__subtitle {
    display: block;
    max-width: var(--desktop-size);
    margin: 0 auto;
    min-width: 70%;
    font-size: 2rem;
    font-family: var(--font-main);
    text-align: right;
}
