.PostEdit {
    display: flex;
    max-width: var(--desktop-size);
    margin: 2rem auto;
    flex-direction: column;
}

.PostEdit__label {
    display: flex;
    color: var(--color-tertiary);
    font-family: var(--font-main);
    font-size: 1.2rem;
    margin-bottom: .3rem;
}

.PostEdit__title {
    display: flex;
    background: none;
    resize: none;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border: .1rem solid var(--color-tertiary);
    padding: .5rem;
    border-radius: .3rem;
    color: var(--color-text);
    font-family: var(--font-decorative);
    font-size: 2rem;
}

.PostEdit__excerpt {
    display: flex;
    background: none;
    resize: none;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border: .1rem solid var(--color-tertiary);
    padding: .5rem;
    border-radius: .3rem;
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: 1.2rem;
    height: 6rem;
}

.PostEdit__body {
    display: flex;
    background: none;
    resize: none;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border: .1rem solid var(--color-tertiary);
    padding: .5rem;
    border-radius: .3rem;
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: 1.5rem;
    line-height: 2rem;
    height: 40rem;
}

.PostEdit__submit {
    display: inline-block;
    background: var(--color-secondary);
    border: none;
    color: var(--color-background);
    font-family: var(--font-decorative);
    text-transform: uppercase;
    font-size: 2em;
    padding: 1rem;
    cursor: pointer;
    border-radius: .2rem;
    transition: all .25s;
}

.PostEdit__submit:hover {
    color: var(--color-secondary);
    background: var(--color-tertiary);
}
