.PostView {
    margin: 0 auto;
    display: grid;
    padding: 1rem 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    max-width: var(--desktop-size);
}

.PostView__header {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: flex-end;
    align-items: center;
}

.PostView__title {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    text-align: right;
    font-family: var(--font-decorative);
    color: var(--color-link);
    padding: 1rem;
}

.PostView__excerpt {
    display: flex;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: right;
    padding: 1rem;
    font-family: var(--font-main);
    color: var(--color-text);
    font-style: italic;
    opacity: .8;
}

.PostView__picture {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.PostView__body {
    display: flex;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
    font-family: var(--font-main);
    color: var(--color-text);
    padding: 2rem;
    line-height: 2rem;
    text-align: justify;
    text-indent: 4rem; 
}
